<!DOCTYPE html>
<html ng-app='gemStore'>
<!-- ng-app is a directive that tells HTML to run the 'store' module when the page loads  -->
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<title>Unicorn Gem Store</title>
</head>
<!-- 	Directive / Controller Name / keyword 'as' / Alias 'store' -->
<body  ng-controller='StoreController as store'>
<!-- Instead of creating divs for each product in the array (i.e. store.product[0].name), use directive 'ng-repeat' to iterate through the array. Don't forget to take off the leading 'store' n the template dot notation below -->
	<div ng-hide='store.product.soldOut' ng-repeat='product in store.products'>
		<h1>{{product.name}}</h1>
		<h2 class='pull-right'>{{product.price | currency}}</h2>
		<!-- 'panel' is the alias we use to refer to the PanelController inside these HTML elements -->
		<section ng-controller='PanelController as panel'>
			<ul class='nav nav-pills'>
				<!-- 'ng-class' adds a class if the expression evaluates to true. In this case, the class to be added is 'active', if the expression 'tab===1' is true. -->
				<li ng-class='{active: panel.isSelected(1)}'>
					<!-- ng-click changes the value of tab. 2-way data binding: the expressions are re-evaluated when the property changes. The active class refers to default Bootstrap styling properties.-->
					<a href ng-click='panel.selectTab(1)'>Description</a>
				</li>
				<li ng-class='{active: panel.isSelected(2)}'>
					<a href ng-click='panel.selectTab(2)'>Specifications</a>
				</li>
				<li ng-class='{active: panel.isSelected(3)}'>
					<a href ng-click='panel.selectTab(3)'>Reviews</a>
				</li>
			</ul>
			<div class='panel' ng-show='panel.isSelected(1)'>
				<h4>Desc</h4>
				<p>{{product.description}}</p>
			</div>
			<div class='panel' ng-show='panel.isSelected(2)'>
				<h4>Specs</h4>
				<blockquote>None yet</blockquote>
			</div>
			<div class='panel' ng-show='panel.isSelected(3)'>
				<h4>Revs</h4>
				<blockquote ng-repeat='review in product.reviews'>
					<b>Stars: {{review.stars}}</b>
					<br />
					{{review.body}}
					<br />
					<cite>by: {{review.author}}</cite>
				</blockquote>
				<form name='reviewForm' ng-controller='ReviewController as reviewCtrl' ng-submit='reviewForm.$valid && reviewCtrl.addReview(product)' novalidate>
					<blockquote>
						<br />
						<b>Stars: {{reviewCtrl.review.stars}}</b>
						<br />
						{{reviewCtrl.review.body}}
						<br />
						<cite>by: {{reviewCtrl.review.author}} on {{reviewCtrl.review.createdOn | date:'MM/dd/yyyy @ h:mma'}}</cite>
					</blockquote>
					<h4>- Add a Review -</h4>
						<select ng-model='reviewCtrl.review.stars' required>
							<option value='1'>1 star</option>
							<option value='2'>2 stars</option>
							<option value='3'>3 stars</option>
							<option value='4'>4 stars</option>
							<option value='5'>5 stars</option>
						</select>
						<br />
						<br />
						<textarea ng-model='reviewCtrl.review.body' required></textarea>
						<br />
						<br />
						<label>by:</label>
						<input name='author' ng-model='reviewCtrl.review.author' type='email' required class='ng-pristine ng-invalid' />
						<!-- 'valid' is a built-in property in Angular -->
						<div>reviewForm is {{reviewForm.$valid}}</div>
						<br />
						<br />
						<input type='submit' value='Submit Review' />
				</form>
			</div>
		</section>
		<!-- ng-show will only show the elem. (canPurchase) if the value of the expression is true -->
		<button ng-show='product.canPurchase'>Add to Cart</button>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src='app.js'></script>
</body>
</html>